.mar{
  margin-top: 10px;
padding:0;
  margin-bottom: 100px;

}
.big{
  display: block;
  background-color: #87CEFA	;
}
.Amount{
  max-width: 330px;
  margin-top: auto;
  padding: 15px;
}
.heading {
  text-align: center;
}
.footer{
  text-align: center;
}
body {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;

}
